[defaults]
inventory  = hosts
roles_path = vendor/roles
transport  = ssh
remote_user=ubuntu
ansible_python_interpreter=/usr/bin/python3

[ssh_connection]
pipelining = true
retries    = 5
ssh_args   = -o ControlMaster=auto -o ControlPersist=5m -o ConnectTimeout=60 -o ConnectionAttempts=20
